@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
$warning: #dfbf30;
$white: #ffffff;
$dark-grey: #26272d;

// @import '~bulma';

#play-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

html,
body {
  background: $dark-grey;
  color: $white;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fira Code', monospace;
}

canvas {
  background: $white;
  margin: 0 auto;
  // transform: scale(0.5);
}

.title,
.subtitle {
  color: $white;
}
