@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
$warning: #dfbf30;
$white: #ffffff;
$dark-grey: #26272d;

html,
body {
  height: 100%;
  background: $dark-grey;
  color: $white;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fira Code', monospace;
}

canvas {
  background: $white;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 640px) {
  canvas {
    width: inherit;
  }
}

main {
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#play-buttons {
  display: flex;
  justify-content: center;
}

footer {
  padding: 1em 0;
}

#keypad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas-wrapper {
  position: relative;
}

.canvas-outcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  touch-action: manipulation; // disables zooming in on button press on mobile
}
